@model IEnumerable<PlaceSearch.Models.Comment>

@{
    ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.PlaceName)
        </th>
        <th></th>
    </tr>

    @foreach (var listComment in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelComment => listComment.Description)
            </td>
            <td>
                @Html.DisplayFor(modelComment => listComment.Place.PlaceName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listComment.CommentId }) |
                @Html.ActionLink("Details", "Details", new { id = listComment.CommentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listComment.CommentId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>