@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PlaceSearch.Models.Place>
@using System.Security.Claims

<h2>Place Search</h2>
@*@if (Model.Any())
{
    <h4>@Html.DisplayNameFor(model => model.PlaceName)</h4>
    <ul>
        @foreach (var listPlace in Model)
        {
            <li>@Html.DisplayFor(modelPlace => listPlace.PlaceName) 
        | @Html.ActionLink("Details", "Details", new { id = listPlace.PlaceId })
        | @Html.ActionLink("Edit", "Edit", new { id = listPlace.PlaceId }) 
        | @Html.ActionLink("Delete", "Delete", new { id = listPlace.PlaceId })</li>
        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}*@


<h2>Create</h2>
<form action="Create" class="new-place">
    <label for="newName">Name: </label>
    <input type="text" name="newName" />
    <button type="submit">Submit</button>
</form>
<div id="resultCreate"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.new-place').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMessage = 'You\'ve added ' + result.placeName + " to the database!";
                    $('#resultCreate').html(resultMessage);
                }
            });
        });
    });
</script>