@{
    ViewData["Title"] = "Place Searcher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PlaceSearch.Models.Place>
@using System.Security.Claims

<h2>Place Search</h2>
@if (Model.Any())
    {
        <h4>@Html.DisplayNameFor(model => model.PlaceName)</h4>
        <ul>
            @foreach (var listPlace in Model)
            {
                <li>@Html.DisplayFor(modelPlace => listPlace.PlaceName)
            | @Html.ActionLink("Map", "Details", new { id = listPlace.PlaceId })
            | @Html.ActionLink("Change Name", "Edit", new { id = listPlace.PlaceId })
            | @Html.ActionLink("Delete", "Delete", new { id = listPlace.PlaceId })</li>
            }
        </ul>
    }
    else
    {
        <p>No tasks have been added yet!</p>
    }

<h2>list of places</h2>
<button class="place-list">show all your places</button>
<div id="place-list"></div>

<h2>Create</h2>
<form action="Create" class="new-place">
    <label for="newName">Name: </label>
    <input type="text" name="newName" />
    <label for="newAddress">Address: </label>
    <input type="text" name="newAddress" />
    <button type="submit">Submit</button>
</form>
<div id="result-create"></div>


<script type="text/javascript">
    $(document).ready(function () {

        $('.new-place').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMessage = 'You\'ve added ' + result.placeName + " to the database!";
                    $('#result-create').html(resultMessage);
                }
            });
        });

        $('.place-list').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("PlaceList")',
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (result) {
                    var stringResult = '<ul>';
                    for (var i = 0; i < result.length; i++) {
                        stringResult += '<li>' + result[i].placeName + '</li>';
                    }
                    stringResult += '</ul>';
                    $('#place-list').html(stringResult);
                }
            });
        });
    });
</script>
